<% include ./partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header"><%= city.title %></div>
    <div class="ui top attached ">
        <div class="item">
            <img class="ui centered rounded image" src="<%= city.image %>" >
            <div class="description">
                <p><%- city.body %></p>
            </div>
            <a class="ui orange basic button" href="/travel/<%= city._id %>/edit">Edit</a>
            <form id="delete" action="/travel/<%= city._id %>?_method=DELETE" method="POST">
                <button class="ui red basic button">Delete</button>
            </form>
        </div>
    </div>
    
</div>
<% include ./partials/footer %>

